# Anahit Manukyan
## Homework 3

**Problem 1.**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import math

P.1 - a. For the following expressions, specify the type of each expression:

In [3]:
print("The type of 225+2.0 is ", type(225+2.0))
print("The type of 230*2==2*230 is ", type(230*2==2*230))
print("The type of round(1.056) is ", type(round(1.056)) )
print("The type of math.ceil(14.56) is ", type(math.ceil(14.56)))

The type of 225+2.0 is  <class 'float'>
The type of 230*2==2*230 is  <class 'bool'>
The type of round(1.056) is  <class 'int'>
The type of math.ceil(14.56) is  <class 'int'>

P.1 - b. Create 3 variables that will ask a user the following information below about their favorite movie and store them as a value of a variable:

Then print the values of the four variables with the following message: “My favorite movie is Full name of movie which was directed by Director name and it was premiered in Year of Production”.

In [4]:
movie_name = "Angel-A"
director_name = "Luc Besson"
production_year = 2005

In [5]:
print("My favorite movie is", movie_name, "which was directed by", director_name,
      "and it was premiered in", production_year)

My favorite movie is Angel-A which was directed by Luc Besson and it was premiered in 2005

P.1 - c. Create an empty list that is called “Stocks”. To the created empty list, add five stock tickers that you would wish to invest in.

In [6]:
Stocks = []
Stocks

[]

Let's add values to the empty list

In [7]:
Stocks.extend(["AAPL", "TSLA", "NFLX", "AMZN", "CCL"])
Stocks

['AAPL', 'TSLA', 'NFLX', 'AMZN', 'CCL']

By using .extend method to add all the elements of an iterable (list, tuple, string etc.) to the end of the list.

In the case of .append, we must add elements separately, one-by-one

**Problem 2.**

P.2 - a. Use if condition to check whether number 25 is an odd or even number.

We can use both a function or just a condition. Here you can find both cases, with the same logic

In [8]:
# by using functions, here we can try for any number

def odd_or_even(num):
    if(num%2==0): # % operator returns the remainder, in the case even numbers, we will not have a remainder 
        print("The number is even")
    else:
        print("The number is odd")
        
odd_or_even(25)

The number is odd

In [9]:
n = 25

if(n%2==0): 
    print("The number is even")
else:
    print("The number is odd")

The number is odd

P.2 - b. Use if condition and for loop to check if in the wine names below if there is a word “Pinot” then the wine type (variety) should be coded “Pinot Noir”, if there is a word “Areni” then the wine variety should be coded as “Areni”, for the rest of the wines in the list use variety code as “Other”. Print the list of wines with their respective codes, e.g. “Hin Areni Red 2014 : Areni”.

In [10]:
wines = ["Thomas Fogarty 2018 Razorback Vineyard Pinot Noir", 
      "Migration 2018 Drum Canyon Vineyard Pinot Noir", 
        "Zorah Voski 2018", "Curto Marco 2017 Arborina (Barolo)",
          "Calera 2018 Jensen Vineyard Pinot Noir", "Hin Areni Red 2014"]

In [11]:
for x in wines: 
    if("Pinot" in x): 
        print(x, ": Pinot Nori")
    elif("Areni" in x):
        print(x, ": Areni")
    else:
        print("Other")

Thomas Fogarty 2018 Razorback Vineyard Pinot Noir : Pinot Nori
Migration 2018 Drum Canyon Vineyard Pinot Noir : Pinot Nori
Other
Other
Calera 2018 Jensen Vineyard Pinot Noir : Pinot Nori
Hin Areni Red 2014 : Areni

**Problem 3**

a. Create a dictionary with keys being tickers of five stocks that you would like to invest in while values are the company names. Eg. APPL - Apple Inc.

In [12]:
stock_dictionary = {
    "AAPL": "Apple Inc.",
    "MSFT": "Microsoft Corporation", 
    "AMZN": "Amazon.com, Inc.", 
    "TSLA": "Tesla Inc.",
    "V": "Visa Inc."
}

stock_dictionary

{'AAPL': 'Apple Inc.',
 'MSFT': 'Microsoft Corporation',
 'AMZN': 'Amazon.com, Inc.',
 'TSLA': 'Tesla Inc.',
 'V': 'Visa Inc.'}

stock_dictionary is a simple dictionary, with key-value pairs

**Problem 4.**

P.4 - a. Write a function that will calculate maximum number in a given list of numbers. Use your function to print the maximum number in the following list:   [-10,0,12, 3,8,5,6,8,-3]

In [13]:
numbers = [-10,0,12, 3,8,5,6,8,-3]

In [14]:
def finding_max(num): 
    temp = float('-inf');
    for x in num: 
        if(x > temp):
            temp = x
    return temp
        

print(finding_max(numbers))

12

In the function, we create a temporary variable <u>temp</u>, which has the smalles float value in python. In the first iteration, temp will become the first number in the array (-10 in this case). Later, it is compared with the other values.

P.4 - b. Write a function that will ask a user to rate their satisfaction from the services provided by X company by using 1-5 scale. If a user rates 1, then your program should return “Strongly dissatisfied”, 2- “Dissatisfied”, 3- “Neither dissatisfied nor satisfied”, 4- “Satisfied”, 5- “Very satisfied”.  If the score is out of the 1-5 range, the program should print the following information: “Please use 1-5 range to rate your satisfaction”. If a user enters not numeric data, the program should return the following: “Please enter numeric information.”

In [15]:
def rating(): 
    rate = input("Rate your satisfaction from the scale 1-5: ")
    rate = int(rate)
    
    if(rate==1):
        return "Strongly dissatisfied"
    elif(rate==2):
        return "Dissatisfied"
    elif(rate==3):
        return "Neither dissatisfied nor satisfied"
    elif(rate==4):
        return "Satisfied"
    elif(rate==5):
        return "Very satisfied"
    else:
        return "Please use 1-5 range to rate your satisfaction"

In [16]:
rating()

Rate your satisfaction from the scale 1-5: 2

'Dissatisfied'

**Problem 5.** Reading the data

In [ ]:
data = pd.read_excel(r'C:\\Users\\User\\Affairs.xlsx')

In [ ]:
data.head()

To understand the data from the first sight, let's look at the basic information about it

In [ ]:
data.info()

From the first glance, the data has some missing values, and the data types are mainly of object and numerical. <br>
Let's see the other sections for more clarifications.

**Problem 6.**

P.6 - a. How many rows and how many columns are in the data?

In [ ]:
data.shape

As we can see, the data has 10 columns and 601 rows

P.6 - b. How many variables have missing values?

In [ ]:
data.count()

In [ ]:
data.isna().sum()

In [ ]:
data.isna().sum().sum()

In [ ]:
data.isnull().any().sum()

Here, 4 variables having missing values, and the total number of missing ones is 6.

P.6 - c. How many missing values are under each variable?

In [ ]:
print(" \nCount total NaN in a DataFrame:",
       data.isnull().sum().sum())

In [ ]:
for i in data.columns:
    print(i,':',data[i].isnull().sum(), ' missing values')

Hence, 
<ul> 
    <li>Gender has 2 missing values </li> 
    <li>Age has 2 missing values </li> 
    <li>Children has 1 missing value </li>
    <li>Education has 1 missing values </li> 
</ul>

P.6 - d. How many numeric and how many non-numeric variables are in the data?

In [ ]:
numeric_variables = data.select_dtypes(include='number').columns

In [ ]:
cols = data.columns

In [ ]:
print( 'The number of numeric variables is: ', len(numeric_variables))

non_numeric_variables = len(cols) - len(numeric_variables)
print('The the number of numeric values is: ', non_numeric_variables)

P.6 - e. What is the gender of a customer whose ID number is 904? How many years has the same person been married?

In [ ]:
data.loc[data['ID']==904, ["ID","gender"]]

In [ ]:
data.loc[data['ID']==904, ["ID","years married"]]

P.6 - f. On average how many years people in dataset were involved in education (education)?

In [ ]:
edu_mean = data["education"].mean()
print("The mean of education is: ", edu_mean)

P.6 - g. What is the median of years of being married (years married)?

In [ ]:
median_yMarried = data["years married"].median()
print("The median of years of being married is: ", median_yMarried)

P.6 - h. What is the 75th percentile of the rating variable?

In [ ]:
print("The 75th percentile of the rating is:", data["rating"].quantile(0.75))

P.6 - i. What is the average age of people who have affair (affairs= “Yes” if a person had an affair and “No” if a person did not have an affair)?

In [ ]:
data.groupby(["affairs"])["age"].mean()

P.6 - j. Create a function that will print number of observations of each category of object type variables.

In [ ]:
objects = data.select_dtypes(include='object')

objects.value_counts()

In [ ]:
def objects_category_mannual(val):
    print("The variable has categories, with values: \n", val.value_counts())

Let's try the function with some variables

In [ ]:
objects_category_mannual(data.affairs)

In [ ]:
objects_category_mannual(data.gender)

The above operation returns the categories of each object type variable with the corresponding number of observations

P.6 - k. Inside for loop use the function created above (6.j. assignment) to print the unique categories for the following variable: affairs,	 gender, children.

In [ ]:
df_object = data[data.select_dtypes(include='object').columns]

for x in df_object.columns: 
    objects_category_mannual(df_object[x])

The following is more convinient version of the combination of parts j and k

In [ ]:
def obs_category1(df):
    df_obj = df[df.select_dtypes(include='object').columns]
    columns_obj = df_obj.columns
    for i in df_obj.columns:
        print("Tha variable ", i, "has ",df_obj[i].unique(), "categories")
        print(i, "has categories with the following number of observations: \n", df_obj[i].value_counts(), "\n")

        
obs_category1(data)

For any given dataframe, we take only objects. Then we calculate values and print the categories.

**Problem 7.**

P.7 - a. Remove all the missing values

In [ ]:
data_clean = data.dropna()

In [ ]:
data_clean.head(4)

P.7 - b. Drop “ID” column

In [ ]:
data_clean = data_clean.drop('ID',axis=1)

P.7 - c. What is the new shape of the data after removing missing values and dropping one column?

In [ ]:
data_clean.shape

As a result of the cleaning, we have 9 columns and 595 filled variables

For more information about the new, celaned data, let's look at the summary

In [ ]:
data_clean.info()

In [ ]:
data_clean.isnull().any().sum()

As we can see again, all the variables have not-null values, and ID column is deleted from the dataframe.

P.7 - d. Some variable names contain spaces (e.g. years married). Replace the space with underscore (“_”). Use replace() function to do that.

Before making changes, let's look at the variable names

In [ ]:
data_clean.columns

Here you can see the variable names befor making the changes. They have spaces.

In [ ]:
data_clean.columns = data_clean.columns.str.replace(" ", "_")

In [ ]:
data_clean.columns

As we can see, the spaces are changed into underscores

P.7 - e.	Separate numeric and object variables. Save them as separate data under “data_num” and “data_obj” names for numeric and object variables respectively

In [ ]:
data_num = data_clean.select_dtypes(include='number')
data_num.columns

In [ ]:
data_obj = data.select_dtypes(include='object')

data_obj.columns

**Problem 8.**

P.8 - a. Create a bar chart where x-axis is affairs and y-axis is an average age. Your chart, X and Y axes should have titles. Adjust figure size to (10,6).

In order to have clean and reliable graphs, we need to use data_clean

In [ ]:
plt.figure(figsize=(10,6))

plt.bar(data_clean.affairs.unique(),
       data_clean.groupby(['affairs'])['age'].mean(),
        color=['#61adff','#d78bf0'])
plt.title("Average age for each category of affairs") #giving a title to the graph
plt.ylabel("Average Age")
plt.xlabel("Affairs")

plt.show()

P.8 - b. By using for loop construct histogram for all numeric type variables in “data_num” dataset created in Problem 7.e.

In [ ]:
for i in data_num.columns:
    plt.figure(figsize=(9,5))
    plt.hist(data_num[i], bins=30, color=['#747fcf'])
    plt.title("Histograms for " + i, loc='center')
    plt.ylabel("Frequency")
    plt.xlabel(i)
    plt.show()